<%= form_tag( crypto_index_path, method: :post) do |f| %>
<%= select_tag "crypto", options_from_collection_for_select(Crypto.all, "id", "name") %>
<%= submit_tag 'Go' %>
<% end %>

<p>Choisis une crypto pour connaître son cours</p>
